body {
    background-color: rgba(197, 194, 189, 0.475);
    
}

/*################---Header design---##########################################################*/
header {  
    width: 100%;  
    border-bottom: 2px solid rgb(123, 123, 123);
    height: 8vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: rgb(44, 173, 162);
    padding-top: 10px;
    margin-left: 130px;
    align-items: center;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    font-size: 3vw;
    font-weight: bold;
}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    text-align: right;
    width: 40%;
    height: 100%;
    margin-right: 150px;
    box-sizing: border-box;
  
}
.linkul{
    display: flex;
    height:100%
}
.linkul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 0;
    
  

}

.linkul>li>a {
    font-size: 1vw;
    
    
    text-decoration: none;
    padding: 7px;
    margin: 0;
    color: rgb(143, 143, 143)
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.linkul>li>a:hover {
    background-color: rgb(85, 192, 231);
    color: black;
    
}
/* -------------------Main section design--------------------------------------------- */
.main-container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    }
/*****---------This is Firstbar section - Left size---------*/

.firstbar {
    margin:25px 25px 0 0;
    width: 68%;
    background-color: white;
    box-sizing: border-box;
   
}


.headfirst p {
    
    font-size: 2vw;
    padding: 25px ;
    border-bottom: 2px solid rgb(123, 123, 123);
   margin:0 20px;
    font-weight: bold;
    color: rgb(44, 173, 162);
    text-align: center;
}

.boxes{
    line-height: 25px;
    margin-left: 50px;
    margin-bottom: 10px;
}

label {
    
    display: block;
   
  }
input {
    display: block;
    
  }


/*****---------This is Connectbar section--Right size---------*****/


.connectbar {
   
    width: 27%;
    margin-top: 25px;
    background-color: white;
    height: 100%
}

.headbar {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 60px;
    color: rgb(44, 173, 162);
    border-bottom: 1px solid rgb(123, 123, 123);
}
.listitems{
    display: flex;
}
.qutu {
    
    margin-top: 40px;
    margin-left: 30px;  
  text-align: center;
}

.qutu img {
    
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 40%;

}
/* ***************Footer section design  */
footer{
    margin-top:98%;
    width: 100%;
    font-size: 28px;
    color: white;
    text-align: center;
    padding:70px ;
    background-color: rgb(69, 65, 65);
}